.app {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1rem;
}
.card {
  width: 300px;
  height: 300px;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.card img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
